// Colors
$dot-color: #1370FB;
$bg-color: #ffffff;

// Dimensions
$dot-size: 2px;
$dot-space: 39px;

$dnd-drag-source-min-width: 120px;
$dnd-drag-source-min-height: 120px;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dnd-drag-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;

  margin: 10px;
  padding: 10px;

  border: blue solid 2px;

  z-index: 100;

  top: 0;
  position: sticky;
  position: -webkit-sticky;

  opacity: 1.0;
  background-color: white;

  .water-mark {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    bottom:5px;
    right:15px;
    // top: 15px;
    opacity:0.3;
    z-index: 200;
    font-size: 44px;
    color: blue;
    position: absolute;
    &.show-logo {
      display: flex;
    }

    // transform: rotate(-45deg);
  }
}

.dnd-drop-target {
  position: relative;
  overflow: hidden;

  margin: 10px;
  height: 5000px;

  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  
  background-size: $dot-space $dot-space;

  &.main {
    border: green solid 2px;
  }

  &.is-over {
    border: green solid 4px;
  }

}

.dnd-drag-source {

  margin: 10px;
  border: blue solid 2px;
  background-color: #ffffff;
  opacity: 0.99;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
//  overflow: hidden;

  .head {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;

//    border: green solid 1px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // margin-bottom: 30px;
//    background-color: pink;

    .head-move {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin: 4px;
      cursor: move;
//      border: red solid 1px;
//      background-color: lightblue;
    }

    .head-trash {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin: 4px;
    }

    .title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;
      // border: green solid 1px;
      padding-right: 5px;
    }

//    border: red solid 1px;
  }

  .container {
    display: flex;
    flex-flow: column;
//    flex: 1;
    min-width: 120px;
    // width: 50%;
    // height: 50%;

    // align-content: center;
    justify-content: center;

    //the following messes up displaying of grid points
//    align-items: center;

    // border: red solid 1px;

    overflow: hidden;
  }

  .foot {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
//    border: red solid 1px;
    .foot-resize {
      cursor: nwse-resize;
    }
  }

  &.is-dragging {
    border: blue solid 3px;
  }

}
